/* Global Styles */
html {
    scroll-behavior: smooth;
    scroll-padding-top: 150px;
}

body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    line-height: 1.2;
    background-color: #f8f8f8;
    margin: 0;
    padding: 0;
    text-align: justify;
}

header {
    background-color: #333;
    color: #fff;
    text-align: center;
    position: sticky;
    padding: 1rem 0;
    width:  100%;
    height: auto;
    top: 0;
}

nav ul {
    list-style: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

nav ul li a {
    text-decoration: none;
    color: #fff;
    font-weight: bold;
}

nav ul li a:hover {
    color: rgb(33, 148, 214);
}

/* About Section */
#about {
    background-color: #fff;
    padding: 2rem;
    text-align: center;
    top: 10px;
    height: auto;
}

p {
    text-align: justify;
}


/* Skills Section */
#skills {
    background-color: #f4f4f4;
    padding: 2rem;
}

#skills ul {
    list-style: none;
    padding: 0;
}

#skills ul li {
    list-style-type: circle;
    color: black;
    margin-left: 50px;
    text-indent: 10px;
    padding-left: 10px;
}


/* Education Section */
#education {
    background-color: #fff;
    padding: 2rem;
}

#education ul {
    list-style: none;
    padding: 0;
}

#education ul li {
    margin: 10px 0;
}

/* Projects Section */
#projects {
    background-color: #f4f4f4;
    padding: 2rem;
}

/* Others Section */
#others {
    background-color: #fff;
    padding: 2rem;
}

#contact {
    border: 1px solid #f4f4f4;
    padding: 2rem;
    margin: 10px 0;
}

/* Responsive Styles */
@media (max-width: 768px) {
    header {
        padding: 0.5rem 0;
    }

    nav ul li {
        margin-right: 10px;
    }

    #about,
    #skills,
    #education,
    #projects,
    #others, 
    #contact{
        padding: 1rem;
    }
}

/*Back to top button*/
#back-to-top {
    display: none;
    position: fixed;
    bottom: 20px;
    right: 20px;
    background-color: #333;
    color: #fff;
    border: none;
    border-radius: 1%;
    padding: 10px;
    cursor: pointer;
    font-size: 16px;
    z-index: 1;
}

#back-to-top:hover {
    background-color: rgb(33, 148, 214);
}